form.checkout .slimcd_payment_options label.radio {
  display: inline-block;
  margin-right: 5px;
}

form#order_review .slimcd_payment_options label.radio {
  display: inline-block;
  margin-right: 5px;
}

form.checkout .slimcd_payment_options label {
  display: inline-block;
}

form#order_review .slimcd_payment_options label {
  display: inline-block;
}

.text-danger {
  color: #dc3545;
}

input[type="submit"]:disabled,
button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.slimcdPaymentDisclaimer {
  display: none;
}
